<!-- Modal for Add Metadata -->
{% extends 'homepage.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/modals_style.css' %}">

<div class="modal">
    <div class="modal-content">
        <span class="close" onclick="window.location.href='{% url 'homepage' %}'">&times</span>
        <h2 class="modal-title">Add Metadata</h2>
        <p class="modal-description">Describe all images in the source folder using ChatGPT, add metadata (title, description, and keywords) directly to the image files, and save them in the destination folder.</p>
        <form method="post">
            {% csrf_token %}

            <label>Prompt Message
                <span class="info-icon"><i class="fa fa-info-circle"></i>
                    <div class="tooltip">
                        Prompt message for ChatGPT with image describing instructions (required)
                    </div>
                </span>
            </label>
            <input type="text" required>

            <!-- Folders Inputs-->
            <div class="folders-inputs-container">
                <div class="folder-input">
                    <label>Source Folder
                        <span class="info-icon">
                            <i class="fa fa-info-circle"></i>
                            <div class="tooltip">
                                The Folder from which the application will retrieve images (required).
                            </div>
                        </span>
                    </label>
                    <input type="file" id="srcFolderInput" webkitdirectory required onchange="displayFolderInfo()">
                    <div id="srcFolderMessage" class="folder-info"></div>
                    <input type="hidden" id="srcFullPath" name="srcFullPath">
                </div>
                <div class="folder-input">
                    <label>Destination Folder
                        <span class="info-icon">
                            <i class="fa fa-info-circle"></i>
                            <div class="tooltip">
                                The folder where images with added metadata will be saved. If not specified, the processed images are saved in the source folder (optional).
                            </div>
                        </span>
                    </label>
                    <input type="file" id="dstFolderInput" webkitdirectory onchange="displayFolderInfo()">
                    <div id="dstFolderMessage" class="folder-info"></div>
                    <input type="hidden" id="dstFullPath" name="dstFullPath">
                </div>
            </div>

            <label>Author Name
                <span class="info-icon"><i class="fa fa-info-circle"></i>
                    <div class="tooltip">
                        Name of the author who created the photos (optional)
                    </div>
                </span>
            </label>
            <input type="text">

            <button type="submit">RUN</button>
        </form>
    </div>
</div>
{% endblock %}